#upload, #download{
  border:3px dashed var(--color-fg-subtle);
  padding:1em;
  background-color: var(--color-canvas-subtle);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 2em;
}
#upload h1, #upload h2, #upload h3{
  text-align: center;
}
#upload h1{
  border-bottom:1px solid var(--color-fg-subtle);
  margin-left:5%;
  margin-right:5%;
}
#upload .directory-list{
  max-width:300px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-canvas-inset);
  border-radius: 1em;
  padding:1em;
}
#download{
  display: none;
}
#card-preview{
  width:100%;
  max-width: 5in;
  margin:0 auto;
  height:7in;
  border:1px solid var(--color-canvas-inset);
  border-radius: 8px;
  background-color: var(--color-canvas-inset);
  position: relative;
}
#card-preview img{
  width:100%;
  height:100%;
}
#card-preview .field-preview{
  border: 1px dotted var(--color-border-muted);
  background-color: rgba(255,255,255,0.5);
  color: var(--color-scale-black);
  border-radius: 8px;
  padding: 0.5em;
  position: absolute;
  white-space: pre-wrap;
}
#loading-overlay{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-neutral-subtle);
  text-align: center;
  padding-top: 20%;
}

#preview-wrapper{
  width:50%;
  padding:0.5em;
}
#form-wrapper{
  float:right;
  width:50%;
  padding:0.5em;
}
#form-wrapper .fields{
  margin-top:0.5em;
  height:calc(7in - 2.6em);
  overflow-y:auto;
  overflow-x:hidden;
}
#project-name{
  text-align:center;
}

#download .closer{
  border-radius: 0.5em;
  position: fixed;
  border: 2px solid var(--color-canvas-overlay);
  background-color: var(--color-canvas-inset);
  top: 0;
  right: 0;
  text-align: center;
  width: 1em;
  height: 1em;
  font-size: 300%;
  line-height: 0.67;
  cursor: pointer;
}
#download .files{
  overflow-y:auto;
  height:100%;
  width:50%;
  float:left;
}
#download .diffs{
  overflow-y:auto;
  height:100%;
  width:50%;
  float:right;
}

/* Form styles */
.img-select2-select img{
  max-width:50px;
  max-height:24px;
}
.img-select2-result img{
  max-width:50px;
  max-height:50px;
}
.card-delete{
  float:right;
}
.card-next{
  float:right;
}
#card-selector{
  width:100%;
  position: sticky;
}
.field-wrapper{
  margin: 0.5em 0;
}
textarea,select,input{
  background-color:var(--color-canvas-subtle);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
textarea{
  max-width:100%;
}
label{
  background-color:var(--color-canvas-overlay);
  border-radius: 0.5em;
  padding:0.3em;
  display: inline-block;
  vertical-align: top;
}
label.block textarea{
  display:block;
}

/* Page styles */
main{
  padding-top:3.2em;
  max-width:1200px;
}
ul{
  margin-left:2em;
}
.hidden{
  display:none !important;
}
.tooltipped{
  text-decoration: dotted underline;
}
#controls{
  position: fixed;
  top:0;
  right:0;
  left:0;
  height:3.2em;
  text-align: center;
  background-color: var(--color-canvas-inset);
  color:white;
  padding:0.5em;
}
#import{
  float:left;
}
#export{
  float: right;
}
.card-controls{
  text-align: center;
}